<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form v-on:submit.prevent="saveForm" method="post">
                    <div class=" form-group">
                        <label class="control-label">Tên</label>
                        <input type="text" class="form-control" v-model="user.name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" v-model="user.email">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password"  class="form-control" v-model="user.password">
                    </div>
                    <div class="form-group" style="float:right;">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                    <div class="form-group">
                        <a href="/" class="btn btn-info">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
            	users: [],
                user: {
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            saveForm() {
                var app = this;
                 var newuser = app.user;
                axios.post('/createpost', newuser)
                    .then(function () {
	                  	app.$router.push({path: '/'});
                        alert('them thanh cong');
                    })
                    .catch(function(){
                        alert('khong thanh cong moi ban kiem tra lai');
                    });

            }
        }
    }
</script>