<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form v-on:submit.prevent="saveForm" method="post">
                    <div class=" form-group">
                        <label class="control-label">Tên</label>
                        <input type="text" class="form-control" v-model="user.name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" v-model="user.email">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password"  class="form-control" v-model="user.password">
                    </div>
                    <div class="form-group" style="float:right;">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                userid: null,
                user: {
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            saveForm() {
                var app = this;
                let id = app.$route.params.id;
                app.userid=id;
                 var newuser = app.user;
                axios.post('/update/'+id, newuser)
                    .then(function () {
                        app.$router.push({path: '/'});
                        alert('sua thanh cong');
                    })
                    .catch(function(){
                        alert('sua khong thanh cong');
                    });

            }
        },
        mounted() {
            var app = this;
            axios.get('/edit/'+app.$route.params.id)
                .then(function (res) {
                   app.user = res.data.user;
                   app.user.password=null;
                });
        }
    }
</script>