<template lang="html">
	<div>
		<table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Username</th>
		        <th>Email</th>
		        <th>Password</th>
		        <th>Xoa</th>
		        <th>sua</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr v-for="user in users">
		        <td>{{user.name}}</td>
		        <td>{{user.email}}</td>
		        <td>{{user.password}}</td>
		        <td> 
		        	<button @click="deleteid(user.id)" class="btn btn-danger">xoa</button>
                </td>
                <td> 
		        	<router-link :to="{name: 'editCompany', params: {id: user.id}}" class="btn btn-info">
                        Edit
                    </router-link>
                </td>
		      </tr>
		    </tbody>
  		</table>
        <div class="example">
        <div class="container">
            <div class="row">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li v-for="t in total"><a href="">{{t}}</a></li>
                    <li><a href="">&raquo;</a></li>
                </ul>
            </div>
        </div>
 
    </div>
	</div>
</template>
<script>
	export default{
		data: function () {
            return {
                users: [],
                total: null,
                user: {
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
		 mounted() {
            var app = this;
            axios.get('/user')
                .then(function (resp) {
                    app.users = resp.data.user.data;
                    app.total=resp.data.user.total;
                });
        },
     methods: {
            deleteid(id) {
                if (confirm('Ban muốn xóa '+id+ '?')) {
                    var app = this;
                    axios.get('/delete/' + id)
                        .then(function () {
                    	  axios.get('/user')
			                .then(function (resp) {
			                    app.users = resp.data.user
			              });
                	});
                }
            }
        }
    }
</script>